/* Ici, j'initialise l'affichage des règles en début de jeu */

#règles{ /* page de règle au début de partie */
    border : solid black ;
    width: 900px;
    height: 700px;
    background-image:url(Map.png) ; 
    background-size: cover ;
    display: block;
}

#titreRègles {
    font-size: 50px;
    display: flex;
    justify-content: center;
    background-color : rgb(21, 255, 0, .5) ;
    border-radius: 7px ;
    border : solid black  ;
    width: 820px;
    margin-left: 35px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#decompteDebutPartie {
    display: flex;
    justify-content: center;
    font-size: 100px;
    border : solid black ;
    border-radius: 90px;
    background-color: rgb(21, 255, 0, .5) ;
    width: 280px;
    height: 190px;
    padding-top: 50px;
}

#reglesEcrites{
    font-size: 30px;
    background-color : rgb(21, 255, 0, .5) ;
    border-radius: 7px ;
    border : solid black  ;
    height: 410px;
    width: 820px;
    margin-left: 28px;
    margin-top: 50px;
    padding: 10px;
}

#boutton{
    display: flex;
    justify-content: space-around;
}

#bouttonVoirSpecial{
    background-color : rgb(21, 255, 0, .5);
    font-size: 30px;
    border-radius: 7px ;
    border : solid black  ;
    width: 500px;
    text-align: center;
    padding-top: 7px;
    margin-top: 15px;
}

#bouttonJouer{
    background-color : rgb(21, 255, 0, .5);
    font-size: 40px;
    border-radius: 7px ;
    border : solid black  ;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

#finPartie{
    border : solid black ;
    width: 900px;
    height: 700px;
    background-image:url(Map.png) ; 
    background-size: cover ;
    display: none;
}

#titrePartieFinit {
    font-size: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color : rgb(21, 255, 0, .5) ;
    border-radius: 7px ;
    border : solid black  ;
    width: 600px;
    margin-left: 150px;
    margin-top: 40px;
}

#gagnant{
    font-size: 100px;
    background-color : rgb(21, 255, 0, .5) ;
    border-radius: 7px ;
    border : solid black  ;
    height: 350px;
    width: 820px;
    margin-left: 37px;
    margin-top: 30px;
    text-align: center;
}

#specialHero{
    border : solid black ;
    width: 900px;
    height: 700px;
    background-image:url(Map.png) ; 
    background-size: cover ;
    display: none;
}

#titreSpecialHero{
    font-size: 50px;
    display: flex;
    justify-content: center;
    background-color : rgb(21, 255, 0, .5) ;
    border-radius: 7px ;
    border : solid black  ;
    width: 820px;
    margin-left: 30px;
    margin-top: 20px;
    padding: 8px;
}

#descriptifs{
    font-size: 30px;
    background-color : rgb(21, 255, 0, .5) ;
    border-radius: 7px ;
    border : solid black  ;
    height: 410px;
    width: 820px;
    margin-left: 28px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#bouttonRetour{
    background-color : rgb(21, 255, 0, .5);
    font-size: 40px;
    border-radius: 7px ;
    border : solid black  ;
    width: 120px;
    text-align: center;
    margin-left: 750px;
    margin-top: 15px;
    margin-top: 17px;
}

#interface {background-image:url(Map.png);
            background-size: cover ;
            border : solid black ;
            width: 900px;
            height: 700px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            visibility: hidden;
}

/* Ici, j'initialise l'affichage de la boite de dialogue qui va changer en fonctions des actions du jeu */

.haut{
    display: flex;
    justify-content: center;
}

#boiteDialogue { 
    border : solid rgb(0, 48, 6) ; 
    padding : 10px  ; 
    border-radius: 7px ; 
    border-width: 5px ;
    background-color : rgb(21, 255, 0, .5) ; 
    width : 500px ; 
    text-align: center ; 
    font-size: 30px;
    margin-top: 20px;
}   

/* Ici, j'initialise la partie centrale de mon interface, l'affichage des 4 héros, des 3 ennemis ainsi que leurs points de vie et noms respectifs */

.milieu{
    display: flex;
    justify-content: space-between;
}

#persoDecompte{
    height: 200px;
    padding-top: 100px;
}

#hero1Milieu{ /* image de mon hero ulti au centre en display none afin de la faire apparaitre lorsqu'il attaque */
    display: none;
    width: 220px;
}

#hero2Milieu{ /* image de mon hero light au centre en display none afin de la faire apparaitre lorsqu'il attaque */
    display: none;
    width: 220px;
}

#hero3Milieu{ /* image de mon hero glad au centre en display none afin de la faire apparaitre lorsqu'il attaque */
    display: none;
    width: 220px;
}

#hero4Milieu{ /* image de mon hero ninja au centre en display none afin de la faire apparaitre lorsqu'il attaque */
    display: none;
    width: 220px;
}

#ennemi1Milieu{ /* image de mon ennemi burner au centre en display none afin de la faire apparaitre lorsqu'il attaque */
    display: none;
    width: 150px;
}

#ennemi2Milieu{ /* image de mon ennemi cleaner au centre en display none afin de la faire apparaitre lorsqu'il attaque */ 
    display: none;
    width: 150px;
}

#ennemi3Milieu{ /* image de mon ennemi hurler au centre en display none afin de la faire apparaitre lorsqu'il attaque */
    display: none;
    width: 150px;
}

img{
    width: 110px;
}


#hero { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 30px;
}

#hero1{
    padding-left: 100px;
    display: flex;
}

.nomUlti{	
    font-size: 18px;
    color: black;
    text-align: center;
    position: absolute;
    margin-left: -60px;
    margin-top: 10px;
    width: 65px;
    background-color: rgb(21, 255, 0, .5);
    border : solid black ;
    border-radius: 90px;
    padding-top: 22px;
    padding-bottom: 23px;
}
    
#hero2{
    padding-left: 30px;
    display: flex;
}

.nomLight{	
    font-size: 18px;
    color: black;
    text-align: center;
    position: absolute;
    margin-left: -55px;
    margin-top: 10px;
    width: 65px;
    background-color: rgb(21, 255, 0, .5);
    border : solid black ;
    border-radius: 90px;
    padding-top: 23px;
    padding-bottom: 23px;
}

#hero3{
    padding-left: 30px;
    display: flex;
}

.nomGlad{	
    font-size: 18px;
    color: black;
    text-align: center;
    position: absolute;
    margin-left: -55px;
    margin-top: 10px;
    width: 65px;
    background-color: rgb(21, 255, 0, .5);
    border : solid black ;
    border-radius: 90px;
    padding-top: 23px;
    padding-bottom: 23px;
}

#hero4{
    padding-left: 100px;
    display: flex;
}

.nomNinja{	
    font-size: 18px;
    color: black;
    text-align: center;
    position: absolute;
    margin-left: -55px;
    margin-top: 10px;
    width: 65px;
    background-color: rgb(21, 255, 0, .5);
    border : solid black ;
    border-radius: 90px;
    padding-top: 23px;
    padding-bottom: 23px;
}
.E{
    width: 92px;
}

#ennemi {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    padding-right: 15px;
}

#ennemi1 {
    display: flex;
    justify-content: center;
    padding-left: 30px;
}

.hpEnnemi1 {	
    font-size: 18px;
    color: black;
    text-align: center;
    position: absolute;
    visibility: hidden;
    margin-left: 160px;
    margin-top: 30px;
    width: 65px
}
    
#ennemi1:hover .hpEnnemi1 {
    visibility: visible;
    background-color: red;
    border : solid black ;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 2px;
    padding-right: 2px;
}

.Burner{	
    font-size: 18px;
    color: black;
    text-align: center;
    position: absolute;
    margin-left: 160px;
    margin-top: 30px;
    width: 65px;
    background-color: red;
    border : solid black ;
    border-radius: 90px;
    padding-top: 23px;
    padding-bottom: 23px;
}

#mortBurner{ /* indication que mon ennemi Burner est mort grâce à un texte */
    font-size: 18px;
    color: black;
    text-align: center;
    margin-left: 60px;
    margin-top: 30px;
    margin-left: 30x;
    width: 150px;
    background-color: red;
    border : solid black ;
    border-radius: 90px;
    padding-top: 23px;
    padding-bottom: 23px;
    display: none;
}

#ennemi1:hover .Burner {
    visibility: hidden;
}

#ennemi2 {
    display: flex;
    justify-content: flex-start;
}

.hpEnnemi2 {	
    font-size: 18px;
    color: black;
    text-align: center;
    position: absolute;
    visibility: hidden;
    margin-left: 90px;
    margin-top: 30px;
    width: 65px
}
    
#ennemi2:hover .hpEnnemi2 {
    visibility: visible;
    background-color: red;
    border : solid black ;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 14px;
    padding-bottom: 14px;	
    padding-left: 2px;
    padding-right: 2px;
}

.Cleaner{	
    font-size: 18px;
    color: black;
    text-align: center;
    position: absolute;
    margin-left: 90px;
    margin-top: 30px;
    width: 65px;
    background-color: red;
    border : solid black ;
    border-radius: 90px;
    padding-top: 23px;
    padding-bottom: 23px;
}

#mortCleaner{ /* indication que mon ennemi Cleaner est mort grâce à un texte */
    font-size: 18px;
    color: black;
    text-align: center;
    margin-left: 60px;
    margin-top: 30px;
    width: 150px;
    background-color: red;
    border : solid black ;
    border-radius: 90px;
    padding-top: 23px;
    padding-bottom: 23px;
    display: none;
}

#ennemi2:hover .Cleaner { 
    visibility: hidden;
}

#ennemi3 {
    display: flex;
    justify-content: center;
    padding-left: 30px;
}
    
.hpEnnemi3 {	
    font-size: 18px;
    color: black;
    text-align: center;
    position: absolute;
    visibility: hidden;
    margin-left: 160px;
    margin-top: 30px;
    padding-left: 2px;
    padding-right: 2px;
    width: 65px
}
    
#ennemi3:hover .hpEnnemi3 {
    visibility: visible;
    background-color: red;
    border : solid black ;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 14px;
    padding-bottom: 14px;	
}

.Hurler{	
    font-size: 18px;
    color: black;
    text-align: center;
    position: absolute;
    margin-left: 160px;
    margin-top: 30px;
    width: 65px;
    background-color: red;
    border : solid black ;
    border-radius: 90px;
    padding-top: 23px;
    padding-bottom: 23px;
}

#ennemi3:hover .Hurler {
    visibility: hidden;
}

#mortHurler{ /* indication que mon ennemi Hurler est mort grâce à un texte */
    font-size: 18px;
    color: black;
    text-align: center;
    margin-left: 60px;
    margin-top: 30px;
    margin-left: 30x;
    width: 150px;
    background-color: red;
    border : solid black ;
    border-radius: 90px;
    padding-top: 23px;
    padding-bottom: 23px;
    display: none;  
}

/* Ici, j'initialise la partie basse de mon interface, l'affichage des noms des héros, éléments cliquables pour le choix du jouer, leurs points de mana et leurs points de vie */

.bas{
    display: flex;
    justify-content: space-around;
}

.personnages { /* mise en place des ma boite de personnages, des noms, des points de vie et de la mana de chacun */
    border : solid rgb(0, 48, 6) ; 
    padding:10px ; 
    border-radius: 7px ; 
    border-width: 5px ;
    background-color : rgb(0, 177, 9, .5) ;  
    font-size: 25px; 
    width: 400px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#avantUlti {
    display : block;
}

#apresUlti { /* modification du texte en pour montrer que le perso Ulti est en train de faire un choix */
    display : none;
    color: rgb(21, 255, 0);
    font-size: 30px;
    text-decoration: underline;
}

#avantLight{
    display : block;
}

#apresLight { /* modification du texte en pour montrer que le perso Light est en train de faire un choix */
    display : none;
    color: rgb(21, 255, 0);
    font-size: 30px;
    text-decoration: underline;
}

#avantGlad {
    display : block;
}

#apresGlad { /* modification du texte en pour montrer que le perso Glad est en train de faire un choix */
    display : none;
    color: rgb(21, 255, 0);
    font-size: 30px;
    text-decoration: underline;
}

#avantNinja {
    display : block;
}

#apresNinja { /* modification du texte en pour montrer que le perso Ninja est en train de faire un choix */
    display : none;
    color: rgb(21, 255, 0);
    font-size: 30px;
    text-decoration: underline;
}

.hpMana {
    display: flex;
    justify-content: space-between;
    width: 240px;
}

#hpUlti:hover{
    color: rgb(21, 255, 0);
}

#hpUltiLigne {
    display: flex;
    justify-content: center;
}

#hpLight:hover{
    color: rgb(21, 255, 0);
}
#hpLightLigne {
    display: flex;
    justify-content: center;
}

#hpGlad:hover{
    color: rgb(21, 255, 0);
}
#hpGladLigne {
    display: flex;
    justify-content: center;
}

#hpNinja:hover{
    color: rgb(21, 255, 0);
}

#hpNinjaLigne {
    display: flex;
    justify-content: center;
    
}

#manaUlti:hover{
    color: rgb(21, 255, 0);
}
#manaUltiLigne {
    display: flex;
    justify-content: center;
}

#manaLight:hover{
    color: rgb(21, 255, 0);
}
#manaLightLigne {
    display: flex;
    justify-content: center;
}

#manaGlad:hover{
    color: rgb(21, 255, 0);
}
#manaGladLigne {
    display: flex;
    justify-content: center;
}

#manaNinja:hover{
    color: rgb(21, 255, 0);
}

#manaNinjaLigne {
    display: flex;
    justify-content: center;
}

/* Ici, j'initialise toujours dans la partie basse de mon interface, le choix des mes héros au cours de la partie, éléments aussi cliquables qui va créer les mécaniques de jeu */

#ordre {
    border : solid rgb(0, 48, 6) ;
    padding-left:15px ;
    border-radius: 7px ;
    border-width: 5px ;
    background-color : rgb(0, 177, 9, .5) ; 
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 230px;
    margin-bottom: 15px;
    visibility: hidden;;
}

#attaquer #attaquerApres, #attaquer:hover #attaquerAvant { /* modification du texte en passant la souris sur le boutton attaque */
    display : none;
}

#attaquer:hover #attaquerApres { /* modification du texte en passant la souris sur le boutton attaque */
    display : block;
    color: rgb(255, 0, 0);
    font-size: 30px;
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

#defendre #defendreApres, #defendre:hover #defendreAvant { /* modification du texte en passant la souris sur le boutton defense */
    display : none;
}

#defendre:hover #defendreApres { /* modification du texte en passant la souris sur le boutton defense */
    display : block;
    color: rgb(255, 0, 0);
    font-size: 30px;
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

#special #specialApres, #special:hover #specialAvant { /* modification du texte en passant la souris sur le boutton spécial */
    display : none;
}

#special:hover #specialApres { /* modification du texte en passant la souris sur le boutton spécial */
    display : block;
    color: rgb(255, 0, 0);
    font-size: 30px;
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

#attaquerBlock{ /* modification du texte en d'attaque pour montrer que l'action d'attaque est inutilisable la manche suivante */
    background-color: grey;
    display: none;
}

#defendreBlock{ /* modification du texte en d'attaque pour montrer que l'action de defense est inutilisable la manche suivante */
    background-color: grey;
    display: none;
}

#specialBlock{ /* modification du texte en d'attaque pour montrer que l'action d'attaque spéciale est inutilisable la manche suivante */
    background-color: grey;
    display: none;
}